body {
    margin: 0% 20% 0% 20%;
    
}

.container {
    width: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    justify-content: center;
}


@media (max-width: 1024px){
    .container {
        width: 100%;
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        justify-content: center;
    }
}

.card {
    width: 200px;
    height: 300px;
    background-color: black;
   margin: 0px;
   padding: 0px;
}